/*--- style.css ---*/
html{
    font-size: 62.5%;
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #DEC7C6;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #fcfcfc 0%, #e6e6e6 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Barlow', sans-serif;
    /*font-family: 'Roboto', sans-serif; */     
}

header{
    width: 100%;
    position: relative;
    z-index: 10;
    height: 100px;
    background: linear-gradient(120deg, #383838 0%, #666666 100%);
    box-shadow: 0 0 6px #383838;
}

nav{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    z-index: 20;
    border-radius: 20px;
    background: linear-gradient(45deg, #dfdede, #8d8c8c);
    box-shadow: 0 0 6px #888;
    font-family: 'Kaushan Script', cursive;
}

h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 6em;
    color:  #000;
    padding: 80px 0 10px 0;
}

nav span{
    /* font-family: 'Kaushan Script', cursive; */
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 2.6em;
}

.nav-box{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px #505050;
    text-align: center;
    background: linear-gradient(120deg, #383838 0%, #666666 100%);
    color: #fff;
    font-size: 2.2em;
    line-height: 120px;
    /* padding-top: 40px; */
    vertical-align: middle;
}

#container-logo{
    margin:auto;
    width:400px;
    height: 100%;
}
#container-logo img{
    height: 50px;
    width: 50px;
}

#nav-link-services{
    left: -20px;
    top: 210px;
}
#nav-link-about{
    left: 110px;
    top: 320px;
}
#nav-link-galery{
    right: 110px;
    top: 320px;
}
#nav-link-contact{
    right: -20px;
    top: 210px;
}


/* 
.container{
    background-color: #eee;
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3,16%) 1fr 2fr;
    column-gap: 1%;
    row-gap: 10px;
}


#index{    
    background: url(../styles/back_combi_01.jpg) no-repeat  center center fixed; 
}

#services{
    background: url(../styles/back_combi_02.jpg) no-repeat  center center fixed; 
}

#photos{
    background: url(../styles/back_combi_03.jpg) no-repeat  center center fixed;   
}

#tarifs{
    background: url(../styles/back_combi_04.jpg) no-repeat  center center fixed; 
}

#partenaires{
    background: url(../styles/back_combi_05.jpg) no-repeat  center center fixed;  
}

#contact{
    background: url(../styles/back_combi_06.jpg) no-repeat  center center fixed;   
}

.zone {
    border-radius:4px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*--- Main Nav ---*/
/* .main-nav {
    background-color: #2e2e2e48;
    width: 90%;
    margin: 30px auto;
    display: grid;
}

ul {
    display:  inline-block;
    text-align: center;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
  }

li {
    padding: 10px 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.main-nav a,li {
    transition: all 0.3s ease-out;
}

.main-nav a:hover,li:hover {
    color: #a4bcdb;
    transform: scale(1.2);
}

@media only screen and (max-width: 800px) {
    .main-nav {
        font-size: 1.4em;
    }
    #nav-logo{
        width: 35px;
        top: 0;
    }
}

@media only screen and (max-width: 650px) {
    .main-nav {
        font-size: 1em;
        flex-wrap: wrap;
    }
} */

/*---------------------------------------------------*/
/*---------------------- Cover ----------------------*/                
/*---------------------------------------------------*/
/* .container {
    height: auto; 
    width: 70vw;
    margin: 40px auto;
    background-color: #ffffff99;
}


p{
    text-align: justify;
    padding: 0 20px 20px;
    font-size: 1.2em;
}

@media only screen and (max-width: 800px) {
    h1{
        font-size: 1.8em;
    }
    p{
        font-size: 1em;
    }
}

@media only screen and (max-width: 650px) {
    h1{
        font-size: 1.4em;
    }
    p{
        font-size: 0.8em;
    }
} */

/*---------------------------------------------------*/
/*---------------------- Logo -----------------------*/                
/*---------------------------------------------------*/
/* .logo{
    width: 100%;
}

#main-logo{
    border-radius: 10px;
    display: block;
    width: 120px;
    margin: auto;
    transition: all 0.6s ease-in-out;
}

#logo_nav:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 800px) {
    #main-logo{
        width: 100px;
    }
}

@media only screen and (max-width: 650px) {
    #main-logo{
        width: 80px;
    }
} */ */

/*---------------------------------------------------*/
/*--------------------- Footer ----------------------*/                
/*---------------------------------------------------*/
/* footer {
    position: relative;
    top: 90% ;
    text-align: center;
} */


/***********************************************************************
 *  Blue Background
 **********************************************************************/
/*.blue {
    background: #7abcff; /* Old browsers */
/*    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
/*    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
/*    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
/*    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
/*    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
/*} */
